{% extends base_template|default:"base.html" %}
{% block title %}
A Community Gallery | Upload
{% endblock %}
{% block center %}
<div class='top'>
    <h3>Upload your art work with the information below</h3>
    <br>
    <div id='piece-form'>
        <form name='piece_form' enctype='multipart/form-data' method='post' action='/add-work' id='work-form'>
            {% csrf_token %}
            <p>
                Title of the entry
            </p>
            {{ piece_form.title }}
            <p>
                Image
            </p>
            {{ piece_form.default_image }}
            <p>
                Description
            </p>
            {{ piece_form.description }}
            <p>
                Type of entry
            </p>
            {{ piece_form.type }}
            <p>
                Theme of entry
            </p>
            {{ piece_form.theme }}
            <p>
                Location
            </p>
            {{ piece_form.location }}
            <br>
            <h4 id='submit'>submit</h4>
        </form>
    </div>
</div>{% endblock %}
